.App{
  width: 85%;
  margin-inline: auto;
}

form{
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

h1{
  text-align: center;
}

form div {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}
form div input {
  width: 62%;
  padding: .4rem 0 .4rem .4rem;
}

form div:last-child{
  justify-content: center;
}